body {
  margin: 0;
  font-family: sans-serif;
  background: #ebebeb;
  color: #dd0000;
}

.container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  top: 20vh;
  position: relative;
  perspective: 1000px;
  padding: 0 1rem;
}

.card {
  position: sticky;
  top: 50px;
  height: 25vh;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 10px 30px rgba(255, 230, 230, 0.5);
  transition: transform 0.3s ease;
  will-change: transform;
  z-index: 1;
  margin-bottom: 10px;
}

.card1 { background: #fffdfd; z-index: 1; transform: translateZ(0); }
.card2 { background: #fffdfd; z-index: 2; transform: translateZ(40px); margin-top: 10px; }
.card3 { background: #fffdfd; z-index: 3; transform: translateZ(100px); margin-top: 14px; }
.card4 { background: #fffdfd; z-index: 4; transform: translateZ(140px); margin-top: 10px; }

.fb-review-header {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 15px;
}

.fb-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 5px;
}

.fb-text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 15px;
}

.fb-name {
  font-weight: 700;
  color: #385898;
  margin-right: 4px;
}

.fb-company {
  font-weight: 600;
  color: #385898;
  margin: 0 4px;
}

.fb-phone {
  font-weight: 600;
  color: #385898;
}

.fb-review-content {
  line-height: 1.4;
  font-size: 18px;
  color: #101622;
}

.fb-link {
  font-size: 16px;
  font-weight: 500;

  color: #0238a4;
  text-decoration: none;
}

.text-card {
  font-size: 17px;
  color: rgb(67, 66, 66);
}

.fb-link-company {
  font-weight: 800;
  color: #385898;
  text-decoration: none;
  font-size: 20px;
}

/* Responsive */
@media (max-width: 640px) {
  .container {
    margin-top: 10vh;
    width: 105%;
    max-width: 105%;
    padding: 0 1rem;
  }
  .card {
    top: 10vh;
    height: 16vh;
    padding: 0.75rem;
  }
  .fb-avatar {
    width: 25px;
    height: 25px;
    margin-right: 2px;
  }
  .fb-icon {
    width: 10px;
  }
  .fb-name,
  .fb-link-company,
  .text-card,
  .fb-review-content {
    font-size: 15px;
  }
  .fb-link {
    font-size: 12px;
  }
  .card2, .card3, .card4 {
    transform: translateZ(40px);
  }
}